<div class="jumbotron home-slide">
  <h2><%= t('info.slide') %></h2>
  <div>
    <% unless current_user.present? %>
      <a href="<%= login_url %>" class="btn btn-success"><%= t('menu.login') %></a>
      <a href="<%= register_url %>" class="btn btn-primary"><%= t('menu.register') %></a>
    <% else %>
      <a href="<%= profile_url %>" class="btn btn-primary"><%= t('menu.profile') %></a>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3><%= t('dashboard.your_debt') %></h3>
    <p><%= t('dashboard.your_debt_descr') %></p>
    <p class="link"><%= link_to t('dashboard.details').html_safe, customers_url %></p>
  </div>
  <div class="col-sm-6">
    <h3><%= t('dashboard.new_customer') %></h3>
    <p><%= t('dashboard.new_customer_description') %></p>
    <p><%= link_to t('dashboard.details').html_safe, new_customers_url %></p>
  </div>
</div>