<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="margin: 0;"><i class="fa fa-user"></i> <%= t('models.sys_user.actions.login') %></h3>
      </div>
      <div class="panel-body">
        <%= form_tag login_url, role: 'form' do %>
          <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
          <div class="form-group">
            <%= label_tag 'email', t('models.sys_user.email') %>
            <%= email_field_tag 'email', params[:email], class: 'form-control', autofocus: true, placeholder: 'enter email address' %>
          </div>
          <div class="form-group">
            <%= label_tag 'password', t('models.sys_user.password') %>
            <%= password_field_tag 'password', params[:password], class: 'form-control', placeholder: 'enter password' %>
          </div>
          <div>
            <%= submit_tag @title, class: ['btn', 'btn-primary'] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="margin-top: 32px;">
    <p><%= t('models.sys_user.actions.not_registered_yet') %></p>
      <p><a href="<%= register_url %>"><%= t('models.sys_user.actions.register') %> &rarr;</a></p>
      <hr />
      <p><%= t('models.sys_user.actions.restore_description') %></p>
      <p><a href="<%= restore_url %>"><%= t('models.sys_user.actions.restore') %> &rarr;</a></p>
  </div>
</div>