<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="margin: 0;"><%= t('models.sys_user.actions.register') %></h4>
      </div>
      <div class="panel-body">
        <%= form_for @user, url: register_url, role: 'form' do |f| %>
          <!-- user registration -->
          <%= f.b_text_field 'email', label: t('models.sys_user.email'), autofocus: true %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.b_password_field 'password', label: t('models.sys_user.password') %>
            </div>
            <div class="col-sm-6">
              <%= f.b_password_field 'password_confirmation', label: t('models.sys_user.password_confirmation') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <%= f.b_text_field 'first_name', label: t('models.sys_user.first_name') %>
            </div>
            <div class="col-sm-6">
              <%= f.b_text_field 'last_name', label: t('models.sys_user.last_name') %>
            </div>
          </div>
          <%= f.b_text_field 'mobile', label: t('models.sys_user.mobile') %>
          <!-- customer registration -->
          <legend><%= t('models.sys_user.account') %></legend>
          <p class="text-muted" ><%= t('models.sys_user.account_description') %></p>
          <%= f.b_text_field 'accnumb', label: t('models.sys_user.accnumb') %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.b_text_field 'rs_tin', label: t('models.sys_user.rs_tin') %>
            </div>
            <div class="col-sm-6">
              <%= f.b_date_field 'dob', label: t('models.sys_user.dob') %>
            </div>
          </div>
          <div>
            <%= f.submit @title, class: ['btn', 'btn-primary'] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="module">
      <p><%= t('models.sys_user.actions.already_registered') %></p>
      <p><a href="<%= login_url %>"><%= t('models.sys_user.actions.login') %> &rarr;</a></p>
    </div>
  </div>
</div>