<div class="row">
  <div class="span8">
    <div class="module">
      <h1>
        <%= t('models.sys_user.actions.register') %>
        <p><%= t('models.sys_user.actions.register_description').html_safe %></p>
      </h1>
      <%= rich_form @user do |f|
        f.text_field :email, autofocus: true
        f.password_field :password
        f.password_field :password_confirmation
        f.text_field :first_name
        f.text_field :last_name
        f.text_field :mobile
        f.separator_field label: t('models.sys_user.account'), hint: t('models.sys_user.account_description')
        f.text_field :accnumb
        f.submit t('models.sys_user.actions.register_short')
      end %>
    </div>
  </div>
  <div class="span4">
    <div class="module">
      <p><%= t('models.sys_user.actions.already_registered') %></p>
      <p><a href="<%= login_url %>"><%= t('models.sys_user.actions.login') %> &rarr;</a></p>
    </div>
  </div>
</div>