<% unless params[:ok].present? %>
<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="margin: 0;"><%= t('models.sys_user.actions.restore') %></h4>
      </div>
      <div class="panel-body">
        <p class="text-muted"><%= t('models.sys_user.actions.restore_description2') %></p>
        <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
        <%= form_tag restore_url do %>
          <div class="form-group">
            <%= label_tag 'email', t('models.sys_user.email') %>
            <%= email_field_tag 'email', params[:email], class: 'form-control', autofocus: true %>
          </div>
          <div>
            <%= submit_tag @title, class: ['btn', 'btn-primary'] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="sol-sm-4">
    <div class="module">
      <p><%= t('models.sys_user.actions.not_registered_yet') %></p>
      <p><a href="<%= register_url %>"><%= t('models.sys_user.actions.register') %> &rarr;</a></p>
    </div>
  </div>
</div>
<% else %>
<div class="panel panel-success">
  <div class="panel-body">
    <%= t('models.sys_user.actions.restore_sent').html_safe %>
  </div>
</div>
<% end %>