<% if @user.blank? %>
<div class="alert alert-danger">
  <%= t('models.sys_user.actions.restore_incorrect_hash') %>
</div>
<% else %>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="margin:0;"><%= t('models.sys_user.actions.change_password') %></h4>
      </div>
      <div class="panel-body">
        <p class="text-muted"><%= t('models.sys_user.actions.change_password_description2') %></p>
        <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
        <%= form_tag request.url do %>
          <div class="form-group">
            <%= label_tag 'password', t('models.sys_user.password') %>
            <%= password_field_tag 'password', params[:password], class: 'form-control', autofocus: true %>
          </div>
          <div class="form-group">
            <%= label_tag 'password_confirmation', t('models.sys_user.password_confirmation') %>
            <%= password_field_tag 'password_confirmation', params[:password_confirmation], class: 'form-control' %>
          </div>
          <div>
            <%= submit_tag @title, class: ['btn', 'btn-primary'] %>
          </div>
        <% end %>
        <!-- %= rich_form({ password: params[:password], password: params[:password] }) do |f|
          f.password_field :password, autofocus: true, label: t('models.sys_user.password')
          f.password_field :password_confirmation, label: t('models.sys_user.password_confirmation')
          f.submit @title
        end % -->
      </div>
  </div>
</div>
<% end %>