<% if @user.blank? %>
<div class="block block-error">
  <%= t('models.sys_user.actions.restore_incorrect_hash') %>
</div>
<% else %>
<div class="row">
  <div class="span12">
    <div class="module">
      <h1>
        <%= t('models.sys_user.actions.change_password') %>
        <p><%= t('models.sys_user.actions.change_password_description2') %></p>
      </h1>
      <% if @error.present? %><div class="block-error"><%= @error %></div><% end %>
      <%= rich_form({ password: params[:password], password: params[:password] }) do |f|
        f.password_field :password, autofocus: true, label: t('models.sys_user.password')
        f.password_field :password_confirmation, label: t('models.sys_user.password_confirmation')
        f.submit @title
      end %>
    </div>
  </div>
</div>
<% end %>