<div id="footer">
  <div class="row">
    <div class="span4">
      <h2><%= t('site.info.company') %></h2>
      <address class="dropped">
        <%= t('site.info.address.line1') %><br>
        <%= t('site.info.address.line2') %>
      </address>
      <p class="dropped">
        <i class="icon-phone"></i> &nbsp; <%= t('site.info.phone1') %><br>
        <i class="icon-phone"></i> &nbsp; <%= t('site.info.phone2') %><br>
        <i class="icon-print"></i> &nbsp; <%= t('site.info.fax') %>
      </p>
    </div>
  </div>
  <div class="bottom">
    &copy; 2013 <a href="http://telasi.ge"><%= t('site.info.company') %></a>
  </div>
</div>