<div id="footer">
  <div class="row">
    <div class="span4">
      <div class="rep">
        <div class="title"><%= t('site.info.company') %></div>
        <address>
          <%= t('site.info.address.line1') %><br>
          <%= t('site.info.address.line2') %>
        </address>
        <address>
          <%= t('site.info.phone1') %><br>
          <%= t('site.info.phone2') %><br>
          <%= t('site.info.fax') %>
        </address>
      </div>
    </div>
    <div class="span6">
      other...
    </div>
  </div>
  <div class="bottom">
    &copy; 2013 <a href="http://telasi.ge"><%= t('site.info.company') %></a>
  </div>
</div>