<div style="padding-bottom: 16px;">
  <div>
    მიმდინარე სტატუსი &mdash;
    <strong>
      <img src="<%= Network::ChangePowerApplication.status_icon @application.status %>"></img>
      <%= Network::ChangePowerApplication.status_name @application.status.to_i %>
    </strong>
  </div>
  <div>
    ახალი სტატუსი &mdash;
    <strong>
      <img src="<%= Network::ChangePowerApplication.status_icon params[:status].to_i %>"></img>
      <%= Network::ChangePowerApplication.status_name params[:status].to_i %>
    </strong>
  </div>
</div>
<% if @error %>
<div class="block block-error"><%= @error %></div>
<% end %>
<%= sms_message_form @message, title: 'SMS შეტყობინება',
  icon: '/icons/mail.png', submit: 'სტატუსის შეცვლა',
  cancel_url: network_change_power_url(id: @application.id)
%>