<table class="properties-table">
  <tr>
    <td class="table-label"><%= t('models.network_new_customer_application.status') %></td>
    <td><strong><%= application.status_name %></strong></td>
  </tr>
  <tr>
    <td class="table-label"><%= t('models.network_new_customer_application.rs_name') %></td>
    <td>
      <img src="/icons/user.png" />
      <span class="label label-inverse"><%= application.rs_tin %></span>
      <%= application.rs_name %>
    </td>
  </tr>
  <tr>
    <td class="table-label"><%= t('models.network_new_customer_application.email') %></td>
    <td>
      <img src="/icons/mail.png" />
      <%= mail_to application.email %>
    </td>
  </tr>
  <tr>
    <td class="table-label"><%= t('models.network_new_customer_application.mobile') %></td>
    <td>
      <img src="/icons/mobile-phone.png" />
      <%= KA.format_mobile application.mobile %>
    </td>
  </tr>
  <% if defined?(extended) and extended %>
  <tr>
    <td class="table-label"><%= t('models.network_new_customer_application.address') %></td>
    <td>
      <img src="/icons/home.png" />
      <%= application.address %>
    </td>
  </tr>
  <tr>
    <td class="table-label"><%= t('models.network_new_customer_application.bank_account_alt') %></td>
    <td>
      <img src="/icons/money.png" />
      <span class="label"><%= application.bank_code %></span>
      <%= application.bank_account %>
    </td>
  </tr>
  <% end %>
</table>
<% if defined?(with_actions) and with_actions %>
<div class="toolbar">
  <%= link_to  t('models.network_new_customer_application.actions.show_page.edit'), edit_new_customer_url(id: application.id) %>
</div>
<% end %>