<%= render partial: 'new_customer/show_side' %>
<div class="module">
  <h1>#<%= @application.number %></h1>
  <hr />
  <h2><%= t('models.network_new_customer_application.actions.accounts_page.title') %></h2>
  <div class="toolbar">
    <%= link_to t('models.network_new_customer_application.actions.new_account'), new_customer_new_account_url(id: @application.id), class: [ 'btn', 'btn-success' ] %>
  </div>
  <% if @application.items.any? %>
    NOT EMPTY
  <% else %>
    <div class="muted" style="text-align: center;">
      <%= t('models.network_new_customer_application.actions.accounts_page.empty_description') %>
    </div>
  <% end %>
</div>