<div class="row">
  <div class="span12">
    <div class="module">
      <h1><%= @title %></h1>
      <% if @applications.any? %>
        <% @applications.each do |app| %>
          <table>
            <tr>
              <td style="width: 250px; border-right: 1px solid #d6e3e8; padding: 0;">
                <h1>#<%= app.effective_number %></h1>
                <div style="margin-top: -16px;">
                  <%= link_to "#{t('models.general.actions.show')} &rarr;".html_safe, show_new_customer_url(app.id), class: [ 'btn', 'btn-primary' ] %>
                </div>
              </td>
              <td style="padding: 0 0 0 16px;">
                <%= render partial: 'new_customer/info', locals: { application: app } %>
              </td>
            </tr>
          </table>
        <% end %>
      <% end %>
      <hr />
      <div style="text-align:center;">
        <div class="muted" style="padding: 0 0 32px 0 ;">
          ელექტრონული განცხადების შემოტანით შეგიძლიათ თელასის ქსელში აბონირების პროცესის დაწყება.
        </div>
        <div>
          <a class="btn btn-success btn-large" href="<%= new_new_customer_url %>"><%= t('models.network_new_customer_application.actions.new') %> &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>