<% content_for :side do %>
  <div class="module">
    <div class="toolar">
      <a href="<%= new_customer_url %>">&larr; <%= t('models.network_new_customer_application.actions.index_page.title') %></a>
    </div>
  </div>
<% end %>
<div class="module">
  <h1>
    <%= @title %>
    <p><%= t('models.network_new_customer_application.actions.new_description') %></p>
  </h1>
  <%= render partial: 'new_customer/form', locals: { application: @application, submit: t('models.network_new_customer_application.actions.new2') } %>
</div>