<% content_for :side do %>
  <div class="module">
    <div class="toolar">
      <a href="<%= new_customer_accounts_url(id: @application.id) %>">&larr; <%= t('models.network_new_customer_application.actions.back_to_application') %></a>
    </div>
  </div> 
<% end %>
<div class="module">
  <h1>
    <%= @title %>
    &mdash;
    <% if params[:type] == 'summary' %>
    <%= t('models.network_new_customer_item.type_summary') %>
    <% else %>
    <%= t('models.network_new_customer_item.type_individual') %>
    <% end %>
  </h1>
  <%= rich_form @account do |f|
    f.text_field 'address_code', hint: true, autofocus: true
    f.text_field 'address', hint: true
    f.combo_field 'voltage', voltage_collection
    f.number_field 'power', width: 100
    f.combo_field 'use', use_collection
    if params[:type] == 'summary'
      f.number_field :count, width: 100, hint: true
    else
      f.text_field :rs_tin, width: 200, hint: true
    end
    f.submit @title
  end %>
</div>