<%= render partial: 'new_customer/side_back', locals: { url: new_customer_accounts_url(id: @application.id) } %>
<div class="module">
  <h1>
    <%= @title %>
    &mdash;
    <% if params[:type] == 'summary' %>
    <%= t('models.network_new_customer_item.type_summary') %>
    <% else %>
    <%= t('models.network_new_customer_item.type_individual') %>
    <% end %>
  </h1>
  <%= render partial: 'new_customer/account_form', locals: { account: @account } %>
</div>