<%= render partial: 'new_customer/show_side' %>
<div class="module">
  <h1>#<%= @application.number %></h1>
  <hr />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th>Operation</th>
        <th>Amount</th>
      </tr>
    </thead>
    <% @application.payments.each do |item| %>
    <tr>
      <td><%= item.customer.accnumb %></td>
      <td><%= item.itemdate.strftime('%d-%b-%Y') %></td>
      <td><%= item.operation.billopername.to_ka %></td>
      <td><code><%= item.amount %></code> GEL</td>
    </tr>
    <% end %>
  </table>
</div>