<%= render partial: 'new_customer/show_side' %>
<div class="module">
  <h1>#<%= @application.number %></h1>
  <!-- general information -->
  <hr />
  <h2><%= t('models.network_new_customer_application.actions.show_page.general') %></h2>
  <%= render partial: 'new_customer/info', locals: { application: @application, extended: true, with_actions: true  } %>
  <!-- accounts -->
  <hr /> <%= render partial: 'new_customer/calculations' %>
  <div class="toolbar"><%= link_to  t('models.network_new_customer_application.actions.show_page.goto_accounts'), new_customer_accounts_url(id: @application.id) %></div>
</div>