<div class="headline">
<h3><%= t('site.pages.contact.our_address') %></h3>
</div>
<ul class="unstyled who margin-bottom-20">
<li><i class="icon-home"></i> <%= t('site.info.address.line1') %> <%= t('site.info.address.line2') %></li>
<li><i class="icon-envelope-alt"></i> <%= mail_to 'telasi@telasi.ge' %></li>
<li><i class="icon-phone-sign"></i> 277-98-12; 227-45-81</li>
<li><i class="icon-phone-sign"></i> 277-99-81 (fax)</li>
<li><i class="icon-globe"></i> <%= link_to 'http://telasi.ge', 'http://telasi.ge' %></li>
</ul>