<div class="headline">
<h3><%= t('site.pages.contact.hot_line.title') %></h3>
</div>
<p>
  <%= t('site.pages.contact.hot_line.description').html_safe %>
  <strong><%= mail_to 'hotline@telasi.ge' %></strong>
</p>
<p><%= t('site.pages.contact.hot_line.phone').html_safe %></p>
<p><%= t('site.pages.contact.hot_line.confidential').html_safe %></p>