<%
  with_actions = false unless defined?(with_actions)
%>
<ul class="list-group">
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-bolt"></i>
      <code><%= number_with_precision customer.balance, precision: 2 %></code> GEL
      <% if with_actions %>
        &nbsp;
        <%= link_to t('models.general.history'), customer_history_url(custkey: customer.custkey), class: ['btn', 'btn-xs', 'btn-info'] %>
      <% end %>
    </div>
    <%= t('models.billing_customer.balance') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-trash-o"></i>
      <code><%= number_with_precision customer.trash_balance, precision: 2 %></code> GEL
      <% if with_actions %>
        &nbsp;
        <%= link_to t('models.general.history'), customer_trash_history_url(custkey: customer.custkey), class: ['btn', 'btn-xs', 'btn-primary'] %>
      <% end %>
    </div>
    <%= t('models.billing_customer.trash_balance') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-tint"></i>
      <code><%= number_with_precision (customer.current_water_balance || 0), precision: 2 %></code> GEL
      <% if with_actions %>
        &nbsp;
        <%= link_to t('models.general.history'), nil, class: ['btn', 'btn-xs', 'btn-default'], disabled: true %>
      <% end %>
    </div>
    <%= t('models.billing_customer.current_water_balance') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-time"></i>
        <% if customer.last_bill_date %>
          <code>№<%= customer.last_bill_number %></code>
          <%= customer.last_bill_date.strftime('%d/%m/%Y') %>
        <% else %>
          <span class="text-muted"><%= t('models.general.undefined') %></span>
        <% end %>
    </div>
    <%= t('models.billing_customer.last_bill') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-time"></i>
      <% if customer.cut_deadline %>
        <%= customer.cut_deadline.strftime('%d/%m/%Y') %>
      <% else %>
        <span class="text-muted"><%= t('models.general.undefined') %></span>
      <% end %>
    </div>
    <%= t('models.billing_customer.cut_deadline') %>
  </li>
</ul>