<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-default" href="<%= remove_customer_url(id: registration.id) %>" data-method="delete" data-confirm="<%= t('models.billing_customer_registration.actions.remove_confirm') %>">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
  <h3>
    <code>#<%= registration.customer.accnumb.to_ka %></code>
    <%= registration.customer.custname.to_ka %>
  </h3>
</div>
<div class="row">
  <div class="col-sm-8">
    <%= render partial: 'customers/customer_info', locals: { customer: registration.customer, with_actions: registration.confirmed } %>
  </div>
  <div class="col-sm-4">
    <% unless registration.confirmed %>
      <div class="alert alert-warning">
        <i class="fa fa-info-circle"></i>
        <%= t('models.billing_customer_registration.errors.not_confirmed').html_safe %>
      </div>
    <% else %>
    <% end %>
  </div>
</div>