<h2 class="page-header">
  <a href="<%= customers_url %>" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  <code>#<%= @customer.accnumb.to_ka %></code>
  <%= @customer.custname.to_ka %>
</h2>
<ul class="list-group">
  <% @items.each do |item| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
          <code><%= item.itemdate.strftime('%d-%b-%Y') %></code><br>
          <%= item.operation %>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-tachometer"></i>
          <code><%= number_with_precision item.reading, precision: 2 %></code> kWh
          <span class="text-muted">&mdash; <%= t('models.billing_customer.reading') %></span>
          <br/>
          <i class="fa fa-bolt"></i>
          <code><%= number_with_precision item.kwt, precision: 2 %></code> kWh
          <span class="text-muted">&mdash; <%= t('models.billing_customer.charge') %></span>
          <br >
          <i class="fa fa-dollar"></i>
          <code><%= number_with_precision item.amount, precision: 2 %></code> GEL
          <span class="text-muted">&mdash; <%= t('models.billing_customer.charge_gel') %></span>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate @items, renderer: WillPaginate::ActionView::LinkRenderer, page_gap: '...' %>