<div class="page-header">
  <h2><code>#<%= @customer.accnumb.to_ka %></code> <%= @customer.custname.to_ka %></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render partial: 'customers/customer_info', locals: { customer: @customer } %>
    <div style="margin-bottom: 16px;">
      <a href="<%= customers_url %>" class="btn btn-default">&larr; <%= t('menu.customers') %></a>
    </div>
  </div>
  <div class="col-sm-6">
    <%= render partial: 'customers/add_customer_full' %>
  </div>
</div>