<div class="row">
  <div class="span3">
    <div class="module">
      <a href="<%= customers_url %>">&larr; <%= t('menu.customers') %></a>
    </div>
  </div>
  <div class="span9">
    <div class="module">
      <h1><%= @title %></h1>
      <%= render partial: 'customers/customer_info', locals: { customer: @customer } %>
      <hr />
      <%= render partial: 'customers/add_customer_description' %>
    </div>
  </div>
</div>