<div class="row">
  <div class="span3">
    <div class="module">
      <a href="<%= customers_url %>">&larr; <%= t('menu.customers') %></a>
    </div>
  </div>
  <div class="span9">
    <div class="module">
      <h1><%= @title %></h1>
      <%= render partial: 'customers/customer_info', locals: { customer: @customer, with_actions: false } %>
      <hr />
      <%= render partial: 'customers/add_customer_description' %>
      <%= rich_form @registration do |f| 
        f.text_field :rs_tin, autofocus: true
        f.date_field :dob
        f.submit t('models.billing_customer_registration.actions.add')
      end %>
    </div>
  </div>
</div>