<div class="page-header">
  <h1><%= @title %></h1>
</div>
<p class="text-muted">
  <%= t('models.billing_customer.actions.search_description') %>
</p>
<%= form_tag search_customer_url, method: :get do %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag 'accnumb', t('models.billing_customer.accnumb') %>
        <%= text_field_tag 'accnumb', params[:accnumb], class: ['form-control'], autofocus: true %>
      </div>
    </div>
  </div>
  <div>
    <%= submit_tag t('models.general.actions.search'), class: ['btn', 'btn-primary'] %>
    <%= link_to t('models.general.actions.cancel'), customers_url, class: ['btn', 'btn-default'] %>
  </div>
<% end %>