<h2 class="page-header">
  <a href="<%= customers_url %>" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  <code>#<%= @customer.accnumb.to_ka %></code>
  <%= @customer.custname.to_ka %>
</h2>
<div class="page-header">
  <h4><i class="fa fa-trash-o"></i> <%= @title %></h4>
</div>
<ul class="list-group">
  <% @items.each do |item| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
          <code><%= item.operdate.strftime('%d-%b-%Y') %></code><br>
          <%= item.operation %>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-dollar"></i>
          <code><%= number_with_precision item.amount, precision: 2 %></code> GEL
          <span class="text-muted">&mdash; <%= t('models.billing_customer.charge_gel') %></span>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div style="margin-top:-20px;">
<%= will_paginate @items %>
</div>