<div class="userbox">
<% if current_user %>
  <div class="image">
    <img src="<%= current_user.image %>">
  </div>
  <div class="user-info">
    <div class="name">
      <%= current_user.full_name %>
    </div>
    <div class="actions">
      <%= link_to t('dashboard.site'), root_url %>
      <%= link_to t('models.general.actions.logout'), signout_url, confirm: t('models.general.actions.logout_confirm') %>
    </div>
  </div>
<% else %>
  <div class="empty-user">
    <%= link_to %Q{<i class="icon-user icon-white"></i> #{t('models.general.actions.login')}}.html_safe, '/auth/facebook', class: 'btn btn-small btn-warning' %>
  </div>
<% end %>
</div>