<h2 class="app-group"><%= @title %></h2>
<div class="applications">
  <!-- users -->
  <div class="application">
    <div class="title">
      <img src="/icons/fugue/users.png" />
      <%= link_to t('models.sys_user.users'), admin_users_url %>
    </div>
    <div class="description muted">
      <%= t('models.sys_user.users_description') %>
    </div>
  </div>
  <!-- regions -->
  <div class="application">
    <div class="title">
      <img src="/icons/fugue/building.png" />
      <%= link_to t('models.billing_region_config.regions'), admin_regions_url %>
    </div>
    <div class="description muted">
      <%= t('models.billing_region_config.regions_description') %>
    </div>
  </div>
</div>