<%= javascript_include_tag 'calculator' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>
<div id="calculator">
</div>
<script type="text/x-handlebars" data-template-name="calculator">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="charge">
          <%= t('models.calculator.charge') %>,
          <%= t('models.calculator.charge_unit') %>
        </label>
        {{input type="text" value=charge id="charge" class="form-control text-right input-lg"}}
      </div>
      <div class="form-group">
        <label for="period">
          <%= t('models.calculator.period') %>,
          <%= t('models.calculator.period_unit') %>
        </label>
        {{input type="text" value=period id="period" class="form-control text-right input-lg"}}
      </div>
      <div class="form-group">
        <label for="vat">
          {{input type="checkbox" checked=withVat id="vat"}}
          <%= t('models.calculator.with_vat') %>
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <label><%= t('models.calculator.charge') %>, GEL</label>
      <h1 class="well text-right" style="margin: 0;">
        <code>{{result}}</code> GEL
      </h1>
    </div>
  </div>
</script>