<ul class="list-group">
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= app.address_code %></code>
      <%= app.work_address %>
    </div>
    მისამართი
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= app.rs_tin %></code>
      <%= app.rs_name %>
    </div>
    განმცხადებელი
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <img src="<%= app.status_icon %>"></img>
      <%= app.status_name %>
    </div>
    სტატუსი
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= app.power.to_i %></code> kWh /
      <code><%= app.voltage %></code> <%= app.unit %>
    </div>
    სიმძლავრე
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= number_with_precision app.amount, delimiter: ',', separator: '.', precision: 2 %></code> GEL
    </div>
    ღირებულება
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= number_with_precision app.paid, delimiter: ',', separator: '.', precision: 2 %></code> GEL
    </div>
    გადახდილია
  </li>
  <% if app.plan_end_date %>
    <li class="list-group-item">
      <div class="pull-right">
        <%= app.plan_end_date.strftime('%d/%m/%Y') %>
      </div>
      გეგმიური დასრულების თარიღი
    </li>
  <% end %>
</ul>