<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-success" href="<%= create_new_customer_url %>">
      <i class="fa fa-plus-circle"></i> ახალი განცხადება
    </a>
  </div>
  <h1><%= @title %></h1>
</div>
  <% if @applications.any? %>
      <% @applications.each do |app| %>
        <div class="page-header">
          <h3>განცხადება <code>#<%= app.effective_number %></code></h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= render partial: 'new_customers/item', locals: { app: app } %>
          </div>
          <div class="col-sm-4">
            <div class="btn-group">
              <a class="btn btn-primary" href="<%= new_customer_url(id: app.id) %>"><i class="fa fa-eye"></i> დეტალურად</a>
              <a class="btn btn-default" href="<%= new_customer_url(id: app.id, format: 'pdf') %>">
                <i class="fa fa-print"></i> ბეჭდვა
              </a>
            </div>
          </div>
        </div>
      <% end %>
  <% else %>
    <div class="well">
      თქვენ არც ერთი განცხადება არ გაქვთ რეგისტრირებული.
      ქსელზე მიერთების რეგისტრაციის დასაწყებად მიაჭირეთ ღილაკს "ახალი განცხადება".
    </div>
  <% end %>
</div>