<style type="text/css">
legend { margin-top: 32px; }
</style>
<script type="text/javascript">
var resetRsNameField = function() {
  if ($('#network_new_customer_application_rs_foreigner').is(':checked')) {
    $('#rs-name-field').show();
    $('#network_new_customer_application_rs_name').focus();
  } else {
    $('#rs-name-field').hide();
    $('#network_new_customer_application_rs_tin').focus();
    $('#network_new_customer_application_rs_name').val('');
  }
};
$(function() {
  $('#network_new_customer_application_rs_foreigner').click(function() {
    resetRsNameField();
  });
  resetRsNameField();
});
</script>
<h1 class="page-header"><%= @title %></h1>

<%= form_for @application, url: create_new_customer_url do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.label 'rs_tin', t('models.network_new_customer_application.rs_tin') %>
      <div class="input-group">
        <%= f.text_field 'rs_tin', autofocus: true, class: 'form-control' %>
        <span class="input-group-addon">
          <%= f.label 'rs_foreigner' do %>
            <%= f.check_box 'rs_foreigner' %>
            უცხოელი?
          <% end %>
        </span>
      </div>
      <% if @application.errors[:rs_tin].present? %>
        <div class="text-danger"><%= @application.errors[:rs_tin].first %></div>
      <% end %>
    </div>
    <div id="rs-name-field" class="col-sm-4">
      <%= f.b_text_field 'rs_name', label: t('models.network_new_customer_application.rs_name') %>
    </div>
  </div>

  <!-- contact information -->
  <legend>საკონტაქტო ინფორმაცია</legend>
  <div class="row">
    <div class="col-sm-4">
      <%= f.b_text_field 'mobile', label: t('models.network_new_customer_application.mobile') %>
    </div>
    <div class="col-sm-4">
      <%= f.b_text_field 'email', label: t('models.network_new_customer_application.email') %>
    </div>
  </div>
  <%= f.b_text_field 'address', label: t('models.network_new_customer_application.address') %>

  <!-- tech properties -->
  <legend>ტექნიკური დეტალები</legend>
  <div class="row">
    <div class="col-sm-8">
      <%= f.b_text_field 'work_address', label: t('models.network_new_customer_application.work_address'), hint: t('models.network_new_customer_application.work_address_hint') %>
    </div>
    <div class="col-sm-4">
      <%= f.b_text_field 'address_code', label: t('models.network_new_customer_application.address_code') %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label><%= t('models.network_new_customer_application.voltage') %></label>
        <%= f.select 'voltage', voltage_collection, {}, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-sm-2">
      <%= f.b_text_field 'power', label: "#{t('models.network_new_customer_application.power')}, kWh" %>
    </div>
  </div>

  <!-- bank details -->
  <legend>განმცხადებლის საბანკო რეკვიზიტები</legend>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label><%= t('models.network_new_customer_application.bank_code') %></label>
        <%= f.select 'bank_code', banks, { include_blank: '-- აარჩიეთ ბანკი --' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= f.b_text_field 'bank_account', label: t('models.network_new_customer_application.bank_account') %>
    </div>
  </div>

  <div>
    <hr />
    <%= f.submit t('models.general.actions.save'), class: ['btn', 'btn-primary'] %>
    <a href="<%= new_customers_url %>" class="btn btn-default">
      <i class="fa fa-times-circle"></i>
      <%= t('models.general.actions.cancel') %>
    </a>
  </div>
<% end %>