<%= render partial: 'new_customers/top' %>
<div class="row">
  <div class="col-sm-6">
    <h3 class="page-header">ძირითადი მონაცემები</h3>
    <%= render partial: 'new_customers/item', locals: { app: @application } %>
    <!-- mobile /email -->
    <ul class="list-group">
      <li class="list-group-item">
        <div class="pull-right">
          <%= @application.formatted_mobile %>
        </div>
        <%= t('models.network_new_customer_application.mobile') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <%= mail_to @application.email %>
        </div>
        <%= t('models.network_new_customer_application.email') %>
      </li>
    </ul>
    <!-- address -->
    <ul class="list-group">
      <li class="list-group-item">
        <div class="pull-right">
          <%= @application.address %>
        </div>
        <%= t('models.network_new_customer_application.address') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <code><%= @application.address_code %></code>
          <%= @application.work_address || @application.address %>
        </div>
        <%= t('models.network_new_customer_application.work_address') %>
      </li>
    </ul>
  </div>
</div>