<div class="row">
  <div class="col-sm-8">
  	<div class="panel panel-default">

<<<<<<< HEAD
	  <div class="panel-heading">
	    <h4 style="margin: 0;"><%= t('form.confirm') %></h4>
	  </div>

      <div class="panel-body">
        <%= form_tag 'https://www.pay.ge/pay', method: :post do  %>
          <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
          <%= hidden_field_tag :merchant, @payment.merchant, class: 'form-control' %>
          <%= hidden_field_tag :serviceid, @payment.serviceid, class: 'form-control' %>

          <div class="form-group">
           <%= label_tag t('payment.ordercode') %>
           <%= text_field_tag :ordercode_show, @payment.ordercode, disabled: true, class: 'form-control' %>
           <%= hidden_field_tag :ordercode, @payment.ordercode %>
          </div>
          <div class="form-group">
            <%= label_tag t('payment.amount') %>
            <%= text_field_tag :amount_show, @payment.amount, disabled: true, class: 'form-control' %>
            <%= hidden_field_tag :amount, @payment.amount_tech %>
          </div>
          <div class="form-group">
            <%= label_tag t('payment.currency') %>
            <%= text_field_tag :currency_show, @payment.currency, disabled: true, class: 'form-control' %>
            <%= hidden_field_tag :currency, @payment.currency %>
          </div>
          <%= hidden_field_tag :description, @payment.description, class: 'form-control' %>
          <%= hidden_field_tag :lng, @payment.lng, class: 'form-control' %>
          <%= hidden_field_tag :check, @payment.check, class: 'form-control' %>
          <%= hidden_field_tag :testmode, @payment.testmode, class: 'form-control' %>
          <%= hidden_field_tag :ispreauth, @payment.ispreauth, class: 'form-control' %>
          <%= hidden_field_tag :postpage, @payment.postpage, class: 'form-control' %>
          <%= hidden_field_tag :successurl, @payment.successurl, class: 'form-control' %>
          <%= hidden_field_tag :cancelurl, @payment.cancelurl, class: 'form-control' %>
          <%= hidden_field_tag :errorurl, @payment.errorurl, class: 'form-control' %>
          <%= hidden_field_tag :callbackurl, @payment.callbackurl, class: 'form-control' %>
        <div>
           <%= submit_tag t('buttons.comfirm'), class: ['btn', 'btn-primary'] %>
        </div>
=======
	<div class="col-sm-6">
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        <h4 style="margin: 0;"><i class="fa fa-user"></i></h4>
	      </div>
	      <div class="panel-body">
	        <%= form_tag 'https://www.pay.ge/pay', method: :post do  %>
	          <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
	          <%= hidden_field_tag :merchant, @payment.merchant, class: 'form-control' %>
              <div class="form-group">
	           <%= label_tag t('payment.ordercode') %>
	           <%= text_field_tag :ordercode_show, @payment.ordercode, disabled: true %>
	           <%= hidden_field_tag :ordercode, @payment.ordercode, class: 'form-control' %>
	          </div>
	          <div class="form-group">
	            <%= label_tag t('payment.amount') %>
	            <%= text_field_tag :amount_show, @payment.amount, disabled: true %>
	            <%= hidden_field_tag :amount, @payment.amount_tech, class: 'form-control' %>
	          </div>
	          <div class="form-group">
	            <%= label_tag t('payment.currency') %>
	            <%= text_field_tag :currency_show, @payment.currency, disabled: true %>
	            <%= hidden_field_tag :currency, @payment.currency, class: 'form-control' %>
	          </div>
	          <%= hidden_field_tag :description, @payment.description, class: 'form-control' %>
	          <%= hidden_field_tag :lng, @payment.lng, class: 'form-control' %>
	          <%= hidden_field_tag :check, @payment.check, class: 'form-control' %>
	          <%= hidden_field_tag :testmode, @payment.testmode, class: 'form-control' %>
	          <%= hidden_field_tag :ispreauth, @payment.ispreauth, class: 'form-control' %>
	          <%= hidden_field_tag :postpage, @payment.postpage, class: 'form-control' %>
	          <%= hidden_field_tag :successurl, @payment.successurl, class: 'form-control' %>
	          <%= hidden_field_tag :cancelurl, @payment.cancelurl, class: 'form-control' %>
	          <%= hidden_field_tag :errorurl, @payment.errorurl, class: 'form-control' %>
	          <%= hidden_field_tag :callbackurl, @payment.callbackurl, class: 'form-control' %>
	        <div>
	           <%= submit_tag t('buttons.comfirm'), class: ['btn', 'btn-primary'] %>
	        </div>
>>>>>>> b539e08d6b8ac48f1376ec416abe8cf04581bc5b

       <% end %>
     </div>

   </div> 
  </div> 
</div> 
