<div class='container'>
	<div class="page-header">
	  <h2><%= t('form_titles.show_form') %></h2>
	</div>

	  <div class="col-sm-6">
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        <h4 style="margin: 0;"><i class="fa fa-user"></i> <%= t('form.action.amount') %></h4>
	      </div>
	      <div class="panel-body">
	        <%= form_for @payment, url: pay_confirm_form_url, role: 'form', method: 'get' do |f| %>
	          <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
	           <%= f.hidden_field :merchant %>
	           <%= f.hidden_field :ordercode %>
	           <%= f.hidden_field :description %>
	           <%= f.hidden_field :check %>
	           <%= f.hidden_field :lng %>
	           <%= f.hidden_field :testmode %>
             
             <%= f.b_text_field :amount, autofocus: true, class: 'form-control' %>

	           <%= f.hidden_field :currency %>
<!--	           <div class="form-group">
	           	 <%= label_tag 'currency', t('payment.currency') %> 
	             <%= f.text_field :currency, disabled: true, placeholder: 'GEL', class: 'form-control' %>
	           </div> -->
          <div>
            <%= submit_tag t('buttons.pay'), class: ['btn', 'btn-primary'] %>
          </div>
        <% end %>
	      </div>
	    </div>
	  </div> 

</div>