<div class="row">
  <div class="col-sm-8">
  	<div class="panel panel-default">

	  <div class="panel-heading">
	    <h4 style="margin: 0;"><%= servicetext(params[:serviceid]) %></h4>
	  </div>

	      <div class="panel-body">
	        <%= form_for @payment, url: pay_confirm_form_url, role: 'form', method: 'get' do |f| %>
	          <% if @error.present? %><div class="alert alert-danger"><%= @error %></div><% end %>
	           <%= f.hidden_field :merchant %>
	           <%= f.hidden_field :serviceid %>
	           <%= f.hidden_field :ordercode %>
	           <%= f.hidden_field :description %>
	           <%= f.hidden_field :check %>
	           <%= f.hidden_field :lng %>
	           <%= f.hidden_field :testmode %>
             
               <%= f.b_text_field :amount, label: t('form.action.amount'), autofocus: true %>

	           <%= f.hidden_field :currency %>
<!--	           <div class="form-group">
	           	 <%= label_tag 'currency', t('payment.currency') %> 
	             <%= f.text_field :currency, disabled: true, placeholder: 'GEL', class: 'form-control' %>
	           </div> -->
          <div>
            <%= submit_tag t('buttons.pay'), class: ['btn', 'btn-primary'] %>
          </div>
        <% end %>
	      </div>
	</div>
  </div>
</div>