<div class="row">
  <div class="span3">
    <div class="module"><%= side_menu(@nav) %></div>
  </div>
  <div class="span9">
    <div class="module">
      <h1><%= @title %> <p><%= t('models.sys_user.actions.change_password_description').html_safe %></p></h1>
      <% if @error.present? %>
        <div class="block-error block-small"><%= @error %></div>
      <% end %>
      <%= rich_form( { old_password: params[:old_password], password: params[:password], password_confirmation: params[:password_confirmation] }  ) do |f|
        f.text_field :old_password, label: t('models.sys_user.old_password'), autofocus: true, password: true
        f.text_field :password, label: t('models.sys_user.password'), password: true
        f.text_field :password_confirmation, label: t('models.sys_user.password_confirmation'), password: true
        f.submit @title
      end %>
    </div>
  </div>
</div>