<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="margin: 0;"><%= @title %></h4>
      </div>
      <div class="panel-body">
        <%= form_for @user, url: edit_profile_url do |f| %>
          <%= fast_text_field f, 'first_name', label: t('models.sys_user.first_name'), autofocus: true %>
          <%= fast_text_field f, 'last_name', label: t('models.sys_user.last_name') %>
          <%= fast_text_field f, 'mobile', label: t('models.sys_user.mobile') %>
          <div>
            <%= f.submit t('models.general.actions.edit'), class: ['btn', 'btn-primary'] %>
            <%= link_to t('models.general.actions.cancel'), profile_url, class: ['btn', 'btn-default'] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>