<div class="row">
  <div class="col-sm-6">
    <h2 class="page-header"><%= @title %></h2>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="pull-right"><%= mail_to @user.email %></div>
        <%= t('models.sys_user.email') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <code>******</code>
          <%= link_to t('models.general.actions.edit'), change_password_url, class: ['btn', 'btn-info', 'btn-xs'] %>
        </div>
        <%= t('models.sys_user.password') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <%= @user.full_name %>
        </div>
        <%= t('models.sys_user.full_name') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <%= KA.format_mobile @user.mobile %>
        </div>
        <%= t('models.sys_user.mobile') %>
      </li>
    </ul>
    <div>
      <a href="<%= edit_profile_url %>" class="btn btn-default">
        <i class="fa fa-pencil"></i>
        <%= t('models.general.actions.edit') %>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <h2 class="page-header"><%= t('models.sys_subscription.actions.subscribe') %></h2>
    <% if @subscription.present? %>
      <ul class="list-group">
        <li class="list-group-item">
          <%= yes_no @subscription.company_news %>
          <%= t('models.sys_subscription.company_news') %>
        </li>
        <li class="list-group-item">
          <%= yes_no @subscription.procurement_news %>
          <%= t('models.sys_subscription.procurement_news') %>
        </li>
        <li class="list-group-item">
          <%= yes_no @subscription.outage_news %>
          <%= t('models.sys_subscription.outage_news') %>
        </li>
      </ul>
      <div>
        <a href="<%= subscribe_url %>" class="btn btn-default">
          <i class="fa fa-pencil"></i>
          <%= t('models.general.actions.edit') %>
        </a>
        <a href="<%= unsubscribe_url email: @subscription.email %>" class="btn btn-danger" data-confirm="<%= t('models.sys_subscription.actions.unsubscribe_confirm') %>">
          <i class="fa fa-trash-o"></i>
          <%= t('models.general.actions.cancel') %>
        </a>
      </div>
    <% else %>
      <p class="alert alert-danger">
        <%= t('models.sys_subscription.errors.not_subscribed') %>
      </p>
      <div>
        <a href="<%= subscribe_url %>" class="btn btn-success">
          <i class="fa fa-plus-circle"></i>
          <%= t('models.sys_subscription.actions.subscribe_short') %>
        </a>
      </div>
    <% end %>
  </div>
</div>