<div class="page-header">
  <h1><%= @title %></h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="pull-right"><%= mail_to @user.email %></div>
        <%= t('models.sys_user.email') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <code>******</code>
          <%= link_to t('models.general.actions.edit'), change_password_url, class: ['btn', 'btn-info', 'btn-xs'] %>
        </div>
        <%= t('models.sys_user.password') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <%= @user.full_name %>
        </div>
        <%= t('models.sys_user.full_name') %>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <%= KA.format_mobile @user.mobile %>
        </div>
        <%= t('models.sys_user.mobile') %>
      </li>
    </ul>
    <div>
      <a href="<%= edit_profile_url %>" class="btn btn-default">
        <i class="fa fa-pencil"></i>
        <%= t('models.general.actions.edit') %>
      </a>
    </div>
  </div>
</div>