<!DOCTYPE html>
<html>
<head>
  <meta name="Author" content="Dimitri Kurashvili <dimakura@gmail.com>" />
  <title><% if @title.present? %><%= @title %> &mdash; <% end %>telasi.ge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">
  <div class="container">
    <div id="dashboard-main">
      <%= render partial: 'layouts/application/top' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>