<!DOCTYPE html>
<html lang="ka">
<head>
<title><% if @title.present? %><%= @title %> &mdash; <% end %>telasi.ge</title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= favicon_link_tag('/favicon.png') %>
<%= csrf_meta_tags %>
</head>
<body style="padding: 8px;">
  <%= yield %>
</body>
</html>