<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> &mdash; telasi.ge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="site-main" class="container">

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Investors</a></li>
          <li><a href="/">Customers</a></li>
          <li><a href="/">Tenders</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>
    </div>


    <%= yield %>
  </div>
</body>
</html>
