<!DOCTYPE html>
<html>
<head>
  <meta name="Author" content="Dimitri Kurashvili <dimakura@gmail.com>" />
  <title><%= @title %> &mdash; telasi.ge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="site-main">
    <div class="container">
      <%= render partial: 'layouts/site/top' %>
      <div class="site-body"><%= yield %></div>
    </div>
  </div>
  <%= render partial: 'layouts/site/footer' %>
</body>
</html>