<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
<%= render partial: 'layouts/site/head' %>
</head>
<body>
<%= render partial: 'layouts/site/top' %>
<%= render partial: 'layouts/site/header' %>
<%= yield :top %>
<div class="container"><%= yield %></div>
<%= render partial: 'layouts/site/footer' %>
<%= render partial: 'layouts/site/copyright' %>
</body>
</html>