<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> &mdash; telasi.ge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="site-main" class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <%= site_menu %>
      </ul>
    </div>
  </div>
  <div class="site-body"><%= yield %></div>
  <%= render partial: 'layouts/site/footer' %>
</div>
</body>
</html>
